<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirige URLs en formato Controlador/Accion
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^([^/]+)/([^/]+)$ index.php?controlador=$1&accion=$2 [L]
</IfModule>
